@import url('https://fonts.googleapis.com/css2? family= Arvo:ital@1 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Arvo:ital@1 & display=swap');
body{
    background:url(photos/backgrd.png)

}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 50px;
}
.recherche{
    margin: 50px;
    margin-right: 150px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
}
.centre-text{
    margin-right: 250px;
    top: 40px;

}
.text1{

}
.t1-tete{
    color: white;
    font-size:80px ;
    font-family : 'Arvo', serif ;
    width: 600px;
}
.text2{
    display: flex;
    align-items: center;
    margin-top: -50px;
}
.img{
    border: 10px solid #666676;
    border-radius: 75px;
    background-color: #666676;
    margin: 20px;
    
}
.i{
    margin: 10px;
}
.text-central{
    margin-top: 20px;
} 
.t1-h2{
    color: white;
    font-size:15px ;
    font-family : 'Arvo', serif ;
    letter-spacing: 3px;
}
.T2{
    align-items: flex-start;
    width: 260px;
}
.P-T2{
    color: white;
    font-size:20px ;
    font-family :'Arvo', serif ;
}
ul{
    display: flex;
    margin-top: 50px;
}
li{
    text-align: center;
   list-style-type: none;
    color: white;
    text-transform: lowercase; 
    width: 250px;
    margin: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    
}
.text3{
    margin-right: 50px;
}
.line{
    /* height : 3 px ; 
    width : 1 px ;  */
    background-color: #898F9B;
    border: 2px solid #898F9B; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
 
}
footer{
    padding: 20px;
    margin-top: -50px;
}
.min-line{
    background-color: #ffbe0a;
    border: 1.8px solid #FFC80A;
    width: 100px;
    margin-left: 490px;
    
}